{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<section class="content">
<h1>Les Deplacements</h1>
<div class='all'>
<div class='left'>
  <pre>
        {{ dump(_context) }}
    </pre>
{% for user in users %}
    <div class='user-list' style:''>
  
    <h3>{{user.firstname}} {{user.lastname}}</h3>
    </div>
{% endfor %}
</div>
<div id='calendrier'>
        <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")

            let calendar = new FullCalendar.Calendar(calendarElt,{
                initialView:'dayGridMonth',
                locale:'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end:'dayGridMonth, timeGridWeek'
                },
                events:{{data|raw}},
                selectConstraint: {
            // Fonction de contrainte pour empêcher la sélection de dates antérieures
                start: new Date, // La date actuelle
                message: 'Impossible de sélectionner une date passée' // Message d'erreur affiché à l'utilisateur
        }
            })
            calendar.render()
            }
        </script>
        </div>
    </div>
    </section>
{% endblock %}
