{% extends 'base.html.twig' %}

{% block title %}
    liste des deplacements
{% endblock %}

{% block body %}
<section class="content">
    <h1>Liste des deplacements</h1>
    <div class="event-list">
    {% for event in events %}
        <div class="event-item" style='background-color:{{event.color}}'>
            <h3>{{event.titre}}</h3>
            <p>{{event.description}}</p>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}
