{% block body %}
    <div id="center-form">
        {{form_start(form)}}
        {{form_widget(form)}}
        <div class="btn-container">
        <button type="submit">ajouter</button>
        </div>
        {{form_end(form)}}
        </div>
{% endblock %}