.event-list{
    width: 90vw;
    margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        
        
    .event-item{
        height: 200px;
        border-radius: 8px;
        padding: 10px;
        box-shadow: $box-shadow;
        background: red;
    }
}

#calendrier{
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    
}
.all{
    display: flex;
}
.left{
    width: 30%;
}


