.all{
    min-height: 100vh;
.left{

padding: 70px 10px;
background: rgb(250, 250, 250);
position: relative;



.user-list{
    z-index: 1;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    background: rgb(240, 240, 240);
    text-align: center;
    padding: 7px 5px;
    box-shadow: $box-shadow;
    margin: 5px auto;
    border-radius: 6px;
}
.button{
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,50%);
}

}
#calendrier{
    height: 100vh;
    padding: 20px 10px;
   /* From https://css.glass */
    /* From https://css.glass */
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .button{
        margin: 40px 0 ;
        text-align: right;
    }
}
}