{% extends "base.html.twig" %}

{% block body %}
    <h1>Modification MDP</h1>
    <div id="center-form">
        {{form_start(form)}}
        {{form_row(form.password)}}
        <div class="btn-container">
        <button type="submit">ajouter</button>
        </div>
        {{form_end(form)}}
        </div>
{% endblock %}